@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: 'ClashGrotesk-Variable';
  src: url('/fonts/ClashGrotesk-Variable.woff2') format('woff2'),
       url('/fonts/ClashGrotesk-Variable.woff') format('woff'),
       url('/fonts/ClashGrotesk-Variable.ttf') format('truetype');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@theme static {
  --font-sans: 'Outfit', sans-serif;
  --font-display: 'ClashGrotesk-Variable', sans-serif;
}

:root {
  --ui-primary: black;
  scroll-behavior: smooth;
}

.dark {
  --ui-primary: white;
}
