@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Outfit', sans-serif;
  --font-display: 'ClashGrotesk-Variable', sans-serif;
}

@layer base {
    h1, h2, h3, h4 {
        @apply font-display font-bold;
    }

    h1, h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }
}

:root {
  --ui-primary: black;
  scroll-behavior: smooth;
}

.dark {
  --ui-primary: white;
}
